/* Fuentes locales */
@font-face {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/avenir-light.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Kanit-Regular.ttf') format('truetype');
  font-display: swap;
}
